.explore-locations {
  width: 75%;
  display: flex;
  flex-wrap: wrap;

}

.individual-explore-item {
  // display: flex;
  padding: 10px;
}
.explore-image {
  // display: flex;
  width: 275px;
  height: 275px;
}

.explore-image:hover {
    background-color:#000;
    opacity:0.5;
}

.explore-title {
  font-size: 19px;
  line-height: 22px;
  color: #484848;
  font-weight: 700;
  width: 250px;
  font-size: 25px;
  display: flex;
  flex-wrap: wrap;
}
