.explore-locations {
  width: 75%;
  display: flex;
  flex-wrap: wrap;

}

.expl2ore-ind-link {
  text-decoration:  none;
}


.individual-explore-item {
  // display: flex;
  padding: 20px;
}
.explore-image {
  // display: flex;
  width: 275px;
  height: 275px;
}

.explore-image:hover {
    background-color:#000;
    opacity:0.5;
}

.explore-title-container {
  text-decoration: none;
}

.explore-title {
  text-decoration: none;
  decoration: none;
  line-height: 30px;
  color: black;
  font-weight: 700;
  width: 250px;
  font-size: 25px;
  display: flex;
  flex-wrap: wrap;
}

.explore-title:hover {
  color: blue;
}
