


#map-container {
  height: 100%;
  width: 100%;
}

.google-maps {
  width: 100%;
  height: 100%;
  position: fixed;

}

.icon-container {
  margin-left: 25%;
}
.icon-github-linkedin {
  color: black;
}

.icon-github-linkedin:hover {
  color: blue;
}

.filter-options-display {
  font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif !important;
  font-size: 15px !important;
  line-height: 18px !important;
  letter-spacing: 0.2px !important;
  padding-top: 6px !important;
  padding-bottom: 6px !important;
  color: #484848 !important;
  border: 1px solid #dce0e0 !important;
  border-radius: 4px !important;
  cursor: pointer !important;
  display: inline-block !important;
  padding-left: 12px !important;
  padding-right: 12px !important;
  position: relative !important;
  text-align: center !important;
  text-decoration: none !important;
  width: auto !important;
  margin-left: 10px;
}

.filter-container {
  margin-left: 20px;
}

.filter-options-display:hover {
  background-color: #e9ebee;
}


.all-explore {
  display: flex;
}

.explore-locations {
  width: 947px;
  display: flex;
  flex-wrap: wrap;

}

.expl2ore-ind-link {
  text-decoration:  none;
}

.separation-locations {
  border-top: 1px solid #DBDBDB;
  border-bottom: 1px solid #DBDBDB;
  padding-top: 17px;
  padding-bottom: 17px;
  display: block;
}

.individual-explore-item {
  width: 285px;
  height: 235px;
  box-sizing: border-box;
  // background-color: transparent !important;
  // border: 1px solid rgba(0,0,0,0.1) !important;
  // border-radius: 3px !important;
  // box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.06) !important;
  margin-left: 20px;
  margin-bottom: 20px;
}
.explore-image {
  // display: flex;
  width: 100%;
  height: 175px;
  margin-bottom: 6px;
  border-bottom-left-radius: 3px !important;
  border-bottom-right-radius: 3px !important;
  border-top-left-radius: 3px !important;
  border-top-right-radius: 3px !important;
}

.wonderful-homes {
  margin-top: 20px;
  margin-left: 20px;
  margin-bottom: 20px;
  font-weight: 700 !important;
  font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif !important;
  font-size: 28px !important;
  line-height: 32px !important;
  letter-spacing: -0.6px !important;
  color: #484848 !important;
}

.explore-image:hover {
    background-color:#000;
    opacity:0.5;
}

.explore-title-container {
  text-decoration: none;
}

.explore-title {
  text-decoration: none;
  decoration: none;
  // line-height: 25px;
  // color: black;
  // font-weight: 700;
  // width: 100%;
  // font-size: 20px;
  // display: flex;
  // flex-wrap: wrap;
  margin: 0px !important;
  word-wrap: break-word !important;
  font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif !important;
  font-size: 19px !important;
  line-height: 22px !important;
  letter-spacing: undefined !important;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  color: #484848;
  font-weight: 700;
}

.explore-title:hover {
  color: 	#4267b2;
}
