// Place all the styles related to the api/Locations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.location-form-container {
  position: flex;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height:  100%;
}

.new-location-form {
  width: 50%;
  margin-left: 3%;
}

.location-description2 {
  font-size: 19px;
  display: block;
  margin: 0 auto;
  padding-bottom: 3px;
  width: 100%;
  line-height: 25px;
  height: 100px;
}

.location-description::placeholder {
  font-size: 19px;
  font-weight: 100;
  line-height: 25px;
  font-family: sans-serif;
}
