.single-location-container {

}

.left-right-location-container {
  display: flex;
}

.single-location-image-container {
  display: block;
  width: 100%;

}

.single-location-image {
  display: block;
  width: 100%;
  height: 500px;
}
.left-location-container {
  width: 50%;
}
.location-title {
  margin-left: 20%;

  display: flex;
  font-size: 32px;
  line-height: 40px;
  letter-spacing: -0.6px;
  font-weight: 700;
  font-family: Helvetica sans-serif;
}

.location-district {
  margin-left: 20%;

  display: flex;
  font-size: 17px;
  line-height: 22px;
  letter-spacing: 0.2px;
  font-weight: 300;
  font-family: Helvetica sans-serif;
  color: #484848
}

.home-details {
  margin-left: 20%;

  display: flex;
  font-size: 17px;
  line-height: 19px;
  letter-spacing: 0.2px;
  font-weight: 300;
  font-family: Helvetica sans-serif;
  color: #484848
}

.location-description {
  margin-left: 20%;
  display: flex;
  font-size: 17px;
  line-height: 19px;
  letter-spacing: 0.2px;
  font-weight: 300;
  font-family: Helvetica sans-serif;
  color: #484848;
  overflow-y: scroll;
  max-height:400px;
}

.location-checkout {
  float: right;
  margin-right: 26%;
  top: 70px;
  position: sticky;
  border: 1px solid #e4e4e4;
  height: 300px;
  width: 270px;
}

.right-location-container {
  width: 50%;
}

.price-style {
  padding-left: 6%;
  font-size: 22px;
  line-height: 28px;
  letter-spacing: -0.2px;
  font-weight: 700;
  font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif;
  color: #484848;
}

.location-price {
  width: 100%;
  display: block;
}

.location-amenities {
  margin-left: 20%;

}

.location-star-rating {
  padding-left: 6%;
}

.amenities-title {
  display: flex;
  font-size: 20px;
  line-height: 25px;
  letter-spacing: 0.2px;
  font-weight: 700;
  font-family: Helvetica sans-serif;
  color: #484848
}

.amenities-icons {
  font-size: 17px;
  line-height: 22px;
  letter-spacing: 0.2px;
  font-weight: 450;
  font-family: Helvetica sans-serif;
  color: #484848
}

.location-cancellation {
  margin-left: 20%;
}

.cancellation-title {
  display: flex;
  font-size: 20px;
  line-height: 25px;
  letter-spacing: 0.2px;
  font-weight: 700;
  font-family: Helvetica sans-serif;
  color: #484848
}

.cancellation-policy {
  display: flex;
  font-size: 17px;
  line-height: 19px;
  letter-spacing: 0.2px;
  font-weight: 300;
  font-family: Helvetica sans-serif;
  color: #484848;
}

hr {
  display: flex;
  border: none;
  height: 1px;
  background-color: #DBDBDB;
}

.review-form {
  margin-left: 20%
}

.review-elements {
  margin-left: 20%;
}

.review-title {
  display: flex;
  font-size: 20px;
  line-height: 25px;
  letter-spacing: 0.2px;
  font-weight: 700;
  font-family: Helvetica sans-serif;
  color: #484848
}

.review-body {
  display: flex;
  font-size: 17px;
  line-height: 19px;
  letter-spacing: 0.2px;
  font-weight: 300;
  font-family: Helvetica sans-serif;
  color: #484848;
  overflow-y: scroll;
  max-height:123px;
}

.review-directions {
  font-size: 17px;
  line-height: 19px;
  letter-spacing: 0.2px;
  font-weight: 300;
  font-family: Helvetica sans-serif;
}
