.greeting-page-main {
  .title-slogan {
    // display: block;
    .title {
      margin: auto;
      padding-left: 100px;
    }
    .slogan {
      margin: auto;
      padding-left: 100px;
    }
  }

  .login-signup {
    position: absolute;
    right: 10px;
  }

}
