.main-nav {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
}

.left-nav {
  width: 100%;
  position: relative;
}

.right-nav {
  width: 100%;
}

.nav-login {
  text-decoration: none;
  float: right;
  padding: 5px;
  font-family: sans-serif;
  margin: 0 auto;
  cursor: pointer;
  position: relative;
  text-align: center;
  border-radius: 4px;
  border: 2px solid #00000000 transparent;
  background: white;
  color: black;
  line-height: 1;
  font-size: 19px;
  font-weight: 500;
}

.nav-signup {
  text-decoration: none;
  float: right;
  padding: 5px;
  font-family: sans-serif;
  margin: 0 auto;
  cursor: pointer;
  position: relative;
  text-align: center;
  border-radius: 4px;
  border: 2px solid #00000000 transparent;
  background: white;
  color: black;
  line-height: 1;
  font-size: 19px;
  font-weight: 500;
}
