.search-container {
  margin-top: 2.2%;
  border-radius: 6px;
  background-color: #fefefe;
  margin-left: 17%;
  width: 53%;
  min-width: 400px;
}

.search-input {
  font-size: 19px;
  display: block;
  margin: 0 auto;
  padding-bottom: 3px;
  width: 100%;
  line-height: 50px;

}

.search-input::placeholder {
  text-align: justify;
  padding-left: 10px;
  font-size: 19px;
  font-weight: 100;
  align-content: center;
  // color: #484848;
  line-height: 50px;
  font-family: sans-serif;
}

.search-results {
  font-size: 18px;
  font-weight: 100;
  line-height: 24px;
  font-family: sans-serif;
}

.individual-result:hover {
  background: #00a3cc;
  cursor: pointer;
}
